<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 404 not found
        link(rel="stylesheet", href="/stylesheets/404.css")
    body
        .container
            .header 404 Error
            .body
                .message Are you lost or something?
                a(href='/').back-home <-- Go back to home page