<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 500 internal server error
        link(rel="stylesheet", href="/stylesheets/404.css")
    body
        .container
            .header 500 Error
            .body
                .message Sorry something unusual happened \n please contact support if you see this page again?
                a(href='/').back-home <-- Go back to home page