extends layout

block head
  link(rel="stylesheet", href="/stylesheets/home.css")

block content
  
  .column.tags
  .column.titles
    .header
      input(type="text", placeholder="Search Documents")
  .column.content

