extends layout

block head
  link(rel="stylesheet", href="/stylesheets/home.css")

block content
  
  .column.tags
  .column.titles
    .header
      input(type="text", placeholder="Search Documents")
    ul
      li(data-id="open-source")
        h3 Open-Source Guideline
        span
          time 2018-06-29
          span  | 
          span Mohammad Shahin
        p short of description of this guideline is something like this. as you can see sometimes it's longer than what you think!
  .column.content

