doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor.css')
    block head
  body
    block content
    script(src='/javascripts/vendor.bundle.js')
    block footer