extends layout

block header
    link(rel="stylesheet", data-name="vs/editor/editor.main", href="/vs/editor/editor.main.css")

block content
    .create-document-form
        .form
            h2 Create a document
            input(type='text', name='name', placeholder='Enter title')
            label
            select(name="category" placeholder="select category")
                -for(let i  = 0; i < categories.length; i++)
                    option(value=categories[i]._id)=categories[i].title 
            label
            .content-container
                .container-props
                    span.resizer(data-current=0, title='expand')
                        img(src="/icons/expand.svg", alt="expand")
                    span.theme(data-current='vs', title='change theme')
                        img(src="/icons/black.svg", alt="theme")
                div(name='text', placeholder='Paste md text here' id='container')
            label
            input(name='summary', placeholder='Enter summary here').summary
            label
            input(type='text', name='uniqueUrl', placeholder='Enter Unique Path, Like: how-volcano-works').u-url
            label
            button.submit Create
    
block scripts
    script
        | var require = { paths: { 'vs': '/vs' } }
    script(src="/vs/loader.js")
    script(src="/vs/editor/editor.main.nls.js")
    script(src="/vs/editor/editor.main.js")
    script(src="/javascripts/admin-create-doc.bundle.js")

    


