extends layout

block content
    .create-document-form
        .form
            h2 Create a document
            input(type='text', name='name', placeholder='Enter title')
            label
            select(name="category" placeholder="select category")
                -for(let i  = 0; i < categories.length; i++)
                    option(value=categories[i]._id)=categories[i].title 
            textarea(name='text', placeholder='Paste md text here')
            label
            textarea(name='summary', placeholder='Enter summary here').summary
            label
            input(type='text', name='uniqueUrl', placeholder='Enter Unique Path, Like: how-volcano-works').u-url
            label
            button.submit Create
    
    script(src="/javascripts/admin-create-doc.bundle.js")

