extends layout

block content
    h1 my documents
    .my-documents
        -for(let i = 0; i < userDocs.length; i++)
            .document-item
                .doc-title= userDocs[i].name
                .doc-unique= userDocs[i].uniqueUrl
                .doc-category= userDocs[i].category
