doctype html
html
  head
    title= title + ' | HackaDocs Panel'
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../stylesheets/vendor.css")
    link(rel="stylesheet", href="../../stylesheets/admin.css")
    block header
  body
    nav
      li
        a(href='/user')
          img(src="/images/logo.png", alt="HackaDocs Logo")
      if (!user)

        if (url !== 'login')
          li
            a(href='/login') Login

        if (url !== 'register')
          li
            a(href='/register') Register

      if (user)
        li
          a(href='/logout') Logout
        li.logged-in-user
          img.avatar(src=user.gravatar, alt=user.fullName + "'s Gravatar")
    .container
      .content
        block content

    .delete-submit
      .delete-submit-background
      .delete-submit-foreground
        .foreground-container
          .fc-title Are you sure?
          .delete-error
          .answer-container
            Button.cancel No
            Button.submit Yes
    
    script(src='../../javascripts/vendor.bundle.js')
    block scripts