body {
    background: #EEE;
    color: #333;
}

a{
    text-decoration: none;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    background: #333;
    list-style: none;
    align-items: center;
    justify-content: flex-end;

    li:first-child {
        img {
            height: 30px;
            margin-top: 5px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    li:nth-child(3){
        margin-right: auto;
    }

    li:not(:first-child) {
        align-self: stretch;
        background: rgba(255, 255, 255, 0.05);
        display: inline-block;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        a {
            color: white;
            
            height: 100%;
            padding-right: 20px;
            padding-left: 20px;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    li.logged-in-user {

        img.avatar {
            height: 60px;
        }
    }


}

.create-document-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    padding: 30px 20px 0px 20px;

    .form {
        display: inline-block;
        text-align: left;
        padding-bottom: 40px;
        width: 100%;
    }
    h2 {
        text-align: center;
        font-size: 30px;
    }

    input {
        display: block;
        font-size: 16px;
        background: #CCC;
        border: none;
        width: 400px;
        padding: 15px;
        margin: 10px;
        margin-top: 30px;
        outline: none;
        transition-duration: 0.5s;

        &:focus {
            background: #FFF;
        }
    }

    .u-url{
        width: 35%;
    }

    select {
        display: block;
        font-size: 16px;
        background: #CCC;
        border: none;
        width: 250px;
        padding: 15px;
        margin: 10px;
        margin-top: 30px;
        outline: none;

        &:focus {
            background: #FFF;
        }
    }

    textarea {
        display: block;
        font-size: 16px;
        background: #CCC;
        border: none;
        padding: 2%;
        margin: 10px;
        outline: none;
        align-self: stretch;
        height: 400px;
        width: 80%;
        resize: none;
        margin-top: 30px;

        &:focus {
            background: #FFF;
        }
    }

    .summary{
        height: 120px;
    }


    button {
        font-size: 17px;
        border: none;
        cursor: pointer;
        padding: 10px 30px;
        background: darken(slategrey, 20%);
        color: white;
        transition-duration: 0.2s;
        outline: none;
        display: block;
        margin: auto;

        &:hover {
            background: slategrey;
        }
    }

    .wrong-input{
        outline: #e85e5e solid 2px;
        position: relative;
    }

    label {
        display: block;
        margin-left: 10px;
    }
    
}

.form-container {
    text-align: center;
    padding-top: 30px;

    form {
        display: inline-block;
        text-align: center;
        padding-bottom: 40px;
    }

    h2 {
        font-size: 30px;
    }

    input {
        display: block;
        font-size: 16px;
        background: #CCC;
        border: none;
        width: 200px;
        padding: 15px;
        margin: 10px;
        outline: none;
        transition-duration: 0.5s;

        &:focus {
            background: #FFF;
        }
    }

    button {
        font-size: 17px;
        border: none;
        cursor: pointer;
        padding: 10px 30px;
        background: darken(slategrey, 20%);
        color: white;
        transition-duration: 0.2s;
        outline: none;

        &:hover {
            background: slategrey;
        }
    }

    &.new-document form {
        display: flex;
        flex-direction: column;
        padding: 40px;
        padding-top: 20px;
        padding-bottom: 60px;

        h2 {
            text-align: center;
        }
        
        input {
            width: 400px;
        }
        
        textarea {
            display: block;
            font-size: 16px;
            background: #CCC;
            border: none;
            padding: 2%;
            margin: 10px;
            outline: none;
            transition-duration: 0.5s;
            align-self: stretch;
            height: 400px;

            &:focus {
                background: #FFF;
            }
        }

        form {
            display: block;
            text-align: left;
        }
        
        button {
            margin: 10px;
            align-self: flex-start;
        }
    }
}

.empty {
    text-align: center;
    margin-top: 170px;
    margin-bottom: 100px;

    h2 {

        span {
            color: #CCC;
            display: block;
            font-weight: normal;
        }

        a {
            display: inline-block;
            
            color: white;
            background: #f93c36;
            font-size: 17px;
            font-weight: normal;
            padding: 10px 20px;
            border-radius: 5px;
            margin-top: 20px;
            transition-duration: 0.2s;

            &:hover {
                background: #ff412e;
                transform: scale(1.08)
            }
    
            &:active {
                transform: scale(1)
            }
        }
    }
}

.documents {
    display: flex;
    flex-wrap: wrap;

    .item {
        display: inline-block;
        width: 300px;
        height: 200px;
        margin: 50px;
        margin-right: 0;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.2);
        overflow: hidden;
        position: relative;

        &.new {
            width: 294px;
            height: 194px;
            border: 3px dashed #AAA;
            background: rgba(255, 255, 255, 0.01);
            position: relative;
            transition-duration: 0.3s;

            &:hover {
                background: rgba(255, 255, 255, 0.09);
            }

            h2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                padding: 0;
                font-size: 130px;
                color: white;
                font-weight: 100;
            }
        }
        
        .thumbnail {
            width: 100%;
            height: 130px;
            background: url('/images/thumbnail.jpg');
            background-size: cover;
        }

        & > h2 {
            margin: 20px;
            padding: 0;
        }

        & > .show {
            position: absolute;
            bottom: 21px;
            right: 20px;
            color: white;
            
            background: #f43b35;
            padding: 6px 10px;
            border-radius: 5px;
            transition-duration: 0.3s;

            &:hover {
                background: #fa6660;
            }
        }
    }
}

.home {
    padding: 60px;

    .welcome {
        text-align: center;

        img {
            width: 100px;
            border-radius: 50%;
        }

        h1 {
            font-weight: 200;
            margin: 15px;
            font-size: 25px;

            span {
                font-weight: normal;
            }
        }
    }
}

.my-documents{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 20px 0px 20px;
    color: black;
    & > .document-item{
        width: 23%;
        margin-right: 20px;
        background: whitesmoke;
        border: solid #333 1px;
        border-radius: 5px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: 1200px) {
            width: 30%;
        }

        @media screen and (max-width: 900px) {
            width: 45%;
        }

        @media screen and (max-width: 500px) {
            width: 100%;
        }

        & > .doc-title {
            height: 60px;
            font-size: 30px;
            line-height: 60px;
        }

        & > .doc-url{
            height: 30px;
            line-height: 30px;

        }

        & > .doc-category{
            height: 30px;
            line-height: 30px;
        }

        & > .doc-summary {
            height: 90px;
            line-height: 30px;
            text-align: center;

        }
        & > .actions{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 40px;
            & > a {
                display: inline-block;
                cursor: pointer;
                
                margin-left: 20px;
                font-size: 14px;
                border: none;
                padding: 8px 20px;
                background: darken(slategrey, 20%);
                color: white;
                transition-duration: 0.2s;
                outline: none;
        
                &:hover {
                    background: slategrey;
                }
            }

            & > Button.delete {
                display: inline-block;
                cursor: pointer;
                margin-left: 20px;
                font-size: 14px;
                border: none;
                padding: 8px 20px;
                background: darken(slategrey, 20%);
                color: white;
                transition-duration: 0.2s;
                outline: none;
        
                &:hover {
                    background: slategrey;
                }
            }
        }

    }
}

.home-header{
    text-align: center;
}

.delete-submit{
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity:0;
    pointer-events: none;
    margin: 0;
    padding: 0;
    transition: opacity .3s ease;

    & > .delete-submit-background{
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: #444;
    }

    & > .foreground-container{

        position: fixed;
        height: 170px;
        width: 320px;
        background: whitesmoke;
        border: #888 solid 1px;
        border-radius: 10px;
        left: 50%;
        top: 50%;
        margin: -135px 0 0 -160px;
        transition: margin .3s ease;

        & > .fc-title{
            text-align: center;
            font-size: 25px;
            font-weight: 800;
            margin-top: 15px;
        }

        & > .delete-error{
            display: none;
            padding-top: 15px;
            text-align: center;
            color: red;
        }

        & > .action-container{
            padding-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            & > Button{
                font-size: 17px;
                border: none;
                cursor: pointer;
                padding: 10px 30px;
                color: white;
                transition-duration: 0.2s;
                outline: none;
            }

            & > .cancel{
                background-color: green;
                &:hover{
                    background-color: lighten(green, 10%);
                }
            }

            & > .submit{
                background-color: darken(red,20%);
                &:hover{
                    background-color: red;
                }
            }

        }

    }

    

}

.delete-submit.active{
    opacity: 1;
    pointer-events: all;
    & > .foreground-container{
        margin: -85px 0 0 -160px;
    }
}

.categories-container{
    & > .add-category{
        padding-left: 4px;
        height: 40px;
        & > a{
            font-size: 17px;
            border: none;
            cursor: pointer;
            padding: 10px 45px;
            background: darken(slategrey, 20%);
            color: white;
            transition-duration: 0.2s;
            outline: none;

            &:hover {
                background: slategrey;
            }
        }
    }
    table.category-items{
        border: 2px solid #EEE;
        background: #ddd;
        border-radius: 10px;
        width: 100%;

        & > thead{
            width: 100%;
            background: darken(slategrey, 20%);
            color: white;

            & > tr{
                height: 30px;
                & > th {
                    &:hover{
                        background: slategrey;
                    } 
                }
            }
            
        }

        & > tbody{
            & > tr:nth-child(odd){
                background: #eee;
            }


            & > tr{ 
                & > td > table{
                    width: 100%;
                    
                    & > tr > td{
                        width: 50%;
                    }
                }
                & > td:nth-child(1){
                    width: 20%;
                }

                & > td:nth-child(3){
                    width: 10%;
                }
            }
        }
    }
}

.add-category-modal{
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity:0;
    pointer-events: none;
    margin: 0;
    padding: 0;
    transition: opacity .3s ease;
    & > .add-category-background{
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: #444;
    }

        
    & > .foreground-container{

        position: fixed;
        height: 230px;
        width: 320px;
        background: whitesmoke;
        border: #888 solid 1px;
        border-radius: 10px;
        left: 50%;
        top: 50%;
        margin: -165px 0 0 -160px;
        transition: margin .3s ease;

        & > .fc-title{
            text-align: center;
            font-size: 25px;
            font-weight: 800;
            margin-top: 15px;
        }

        & > .add-error{
            display: none;
            padding-top: 15px;
            text-align: center;
            color: red;
        }

        & > .add-action-container{
            padding-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            & > Button{
                font-size: 17px;
                border: none;
                cursor: pointer;
                padding: 10px 30px;
                color: white;
                transition-duration: 0.2s;
                outline: none;
            }

            & > .cancel{
                background-color: green;
                &:hover{
                    background-color: lighten(green, 10%);
                }
            }

            & > .submit{
                background-color: darken(red,20%);
                &:hover{
                    background-color: red;
                }
            }

        }

        & > .add-category-title{
            
            display: block;
            font-size: 16px;
            background: #CCC;
            border: none;
            width: 200px;
            padding: 15px;
            margin-left: 45px;
            margin-top: 20px;
            outline: none;
            transition-duration: 0.5s;
    
            &:focus {
                background: #FFF;
            }
            
        }

    }

    
}

.add-category-modal.active{
    opacity: 1;
    pointer-events: all;
    & > .foreground-container{
        margin: -115px 0 0 -160px;
    }
}

.categoryEdit{

    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 4px 10px;
    background: darken(slategrey, 20%);
    color: white;
    transition-duration: 0.2s;
    outline: none;

    &:hover {
        background: slategrey;
    }

}

.categoryDelete{

    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 4px 10px;
    background: darken(slategrey, 20%);
    color: white;
    transition-duration: 0.2s;
    outline: none;
    margin-left: 5px;

    &:hover {
        background: slategrey;
    }

}


