@import 'colors.scss';

body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.column.tags {
    background: #333;
    min-width: 200px;
    max-width: 200px;
    transition-duration: 0.2s;
    overflow: hidden;

    .header {

        img {
            width: 130px;
            margin: 30px;
            margin-left: 27px;
            margin-right: 43px;
        }
    }

    h4 {
        color: #AAA;
        text-align: center;
        font-weight: 200;
    }

    ul {
        color: white;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        font-weight: 100;
        list-style: none;

        li {
            font-size: 13px;
            padding: 8px;
            padding-left: 50px;
            cursor: pointer;
            position: relative;

            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }

            
        }

        &.categories {

            & > li{
                // Licon book (https://github.com/siamak/licon/blob/master/sass/_licon.scss) line 237
                $size: 12px;
                $basecolor: grey;
                $left: 28px;
                &:before{
                    content: ' ';
                    position: absolute;
                    width: $size - $size/4;
                    height: $size - $size/16;
                    border: $size/16 solid $basecolor;
                    border-radius: ceil($size/6) 0 0 ceil($size/6);
                    left: $left;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:after{
                    content: ' ';
                    position: absolute;
                    width: $size/2;
                    height: 1px;
                    background: $basecolor;
                    left: $left + $size/4;
                    top: calc(50% - 3px);
                    box-shadow: 0 4px 0 grey, 0 6px 0 grey;
                    transform: translateY(-50%);
                }
            }

            & > .active {
                background: rgba(0, 0, 0, 0.4);
            }
            
        }

        &.hashtags {
            & > li {
                &:before, &:after {
                    content: ' ';
                    top: 50%;
                    left: 30px;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    width: 5px;
                    height: 12px;
                    border-right: 1px solid grey;
                    border-left: 1px solid grey;
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }

            & > .active {
                background: rgba(0, 0, 0, 0.4);
                pointer-events: none;
            }

        }

        &.categories{
            & > .active{
                background: darken($color: #333, $amount: 5%);
                pointer-events: none;
            }
        }
    }
}

.column.titles {
    background: whitesmoke;
    min-width: 300px;
    max-width: 300px;
    transition-duration: 0.2s;
    border-right: 1px solid #DDD;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .header {
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid #DDD;

        input {
            width: 100%;
            height: 30px;
            font-size: 14px;
            font-weight: 200;
            text-align: center;
            outline: none;
            border: 1px solid #DDD;
            border-radius: 5px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;

        li {
            padding: 30px;
            padding-left: 40px;
            border-bottom: 1px solid #DDD;
            position: relative;
            min-width: 230px;
            cursor: pointer;

            &.hidden {
                display: none;   
            }

            &:before {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                width: 8px;
                height: 100%;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.4);
            }

            &.active {
                opacity: 1;
                background: #FFF;
                pointer-events: none;
                &:before {
                    background: $primary-color;
                }
            }

            h3 {
                margin: 0;
                font-weight: normal;
                margin-bottom: 4px;
            }

            & > span {
                color: $primary-color;
                font-size: 12px;

                span {
                    color: #a9a9a9;
                }
            }

            p {
                margin: 0;
                margin-top: 10px;
                font-weight: 200;
                text-overflow: ellipsis;
                overflow: hidden; 
                font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
                font-size: 13px;
            }
        }
    }

    & > .articles-loading{
        display: none;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: white;
        & > .loading-spiner{
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            margin: -25px 0 0 -25px;
            border: 5px solid #f3f3f3;
            border-radius: 50%;
            border-top: 5px solid #333;
            width: 50px;
            height: 50px;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
            
            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }
            
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        }
    }
}

.column.content {
    background: white;
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
    transition-duration: 0.2s;

    article {
        margin: auto;
        max-width: 700px;
        margin-top: 70px;
        margin-bottom: 70px;
        
        @import 'document.scss';
    }

    & > .article-loading{
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #333;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}

.options {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 30px;
    display: flex;

    .option {
        width: 30px;
        background-color: #FFF;
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 5px;
        border-radius: 3px;
        transition-duration: 0.1s;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:hover {
            background-color: #EEE;
        }

        &:active {
            opacity: 0.6;
        }
    }

    .day-night {
        background-image: url(/images/icons/night.png);
    }

    .menu{

        text-align: center;
        
        line-height: 27px;

    }

}

body.divide-2 .column.tags {
    min-width: 0;
    max-width: 0;
}

body.divide-1 .column.tags, body.divide-1 .column.titles {
    min-width: 0;
    max-width: 0;
}



body.is-night {
    @import 'night-mode.scss';
}